/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   // border: 0;
   // outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input,
 textarea,
 button {
   border: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }



.login-signup {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  padding: 15px;
  font-family: 'Abel', sans-serif;

}

.login-signup-button {
  margin: auto;
  margin-right: 0px;
  font-family: 'Abel', sans-serif;

}

.login-form label {
  width: 250px;
  text-align: right;
}


.login-form-container {
  display: flex;
  align-items: center;
  text-align: center;
}




.header-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}

.header-name-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  font-family: 'Abel', sans-serif;
}

.header-button {
  margin: auto;
  margin-right: 0px;
}

.session-welcome-header {
  font-size: 30px;
}

.session-form-input {
  color: black;
  margin-top: 10px;
  border-width: 10px;
  border: 1px solid gray;
  border-style: solid;
  width: 100px;
  height: 20px;
  text-align: left;
  border-radius: 3px;

}

.session-options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: underline

}

.session-submit {
  text-transform: uppercase;
  border: 1px solid gray;
  font-family: 'Abel', sans-serif;
  margin: 10px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.session-question {
  margin: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 12px;
}
.session-errors {
  color: red;
}

.session-other {
  border-bottom: 1px solid gray;
}

.session-demo {
  border-bottom: 1px solid gray;
}

.landing-page {
  background-image: url(https://www.banfflakelouise.com/sites/default/files/styles/l_1600_natural/public/canoeing_bow_lake_noel_hendrickson_3_horizontal.jpg?itok=2PiMOrY6);
  height: 500px;
  background-position: center;
  background-size: cover;
  max-width: 100%;

  width: 100%;


}

.hipcamp-logo {
  text-decoration: none;
  color: green;
  font-size: 20px;
}


.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;

}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Abel', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.map {
  width: 500px;
  height: 500px;
  background-color: blue;
}

.listing-photo {
  width: 500px;
  height: 500px;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.search {
  display: flex;
  justify-content: flex-start;

}
