/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   // border: 0;
   // outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input,
 textarea,
 button {
   border: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

@import 'react-datepicker/datepicker.scss';
@import 'errors/errors.scss';


.login-signup {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  padding: 15px;
  font-family: 'Abel', sans-serif;

}

.login-signup-button {
  margin: auto;
  margin-right: 0px;
  font-family: 'Abel', sans-serif;

}

.login-form label {
  width: 250px;
  text-align: right;
}


.login-form-container {
  display: flex;
  align-items: center;
  text-align: center;
}




.header-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}

.header-name-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  font-family: 'Abel', sans-serif;
}

.header-button {
  margin: auto;
  margin-right: 0px;
}

.session-welcome-header {
  font-size: 30px;
}

.session-form-input {
  color: black;
  margin-top: 10px;
  border-width: 10px;
  border: 1px solid gray;
  border-style: solid;
  width: 100px;
  height: 20px;
  text-align: left;
  border-radius: 3px;

}

.session-options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: underline

}

.session-submit {
  text-transform: uppercase;
  border: 1px solid gray;
  font-family: 'Abel', sans-serif;
  margin: 10px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.session-question {
  margin: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 12px;
}
.session-errors {
  color: red;
}

.session-other {
  border-bottom: 1px solid gray;
}

.session-demo {
  border-bottom: 1px solid gray;
}

.landing-page {
  display: flex;
  justify-content: space-between;

}

.landing-page-title {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 400;
}

.landing-page-image {
  max-width: 700px;
  height: 600px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.index-to-listings {
  color: blue;
  font-size: 20px;
}

.hipcamp-logo {
  text-decoration: none;
  color: green;
  font-size: 20px;
}


.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;

}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Abel', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.map {
  width: 500px;
  height: 500px;
  margin-right: 70px;
  background-color: blue;
  margin-top: 30px;
}

.listing-index {
  padding-top: 5px;
  font-weight: 600px;
  max-width: 550px;
  border-top: 3px solid #333333;
  line-height: 1.1;
  margin-top: 0;
  margin-left: 90px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.listing-photo {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  font-weight: 400px;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;

}





.listing-index-li {
  margin-bottom: 30px;
}

.listing-index-name {
  margin-top: 10px;
}

.listing-index-details {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  margin-left: 30px;
}

.address-and-cost {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}


.daily-cost {
  margin-right: 130px;
  font-weight: bold;
}

.listing-show-container {
  margin: 13px;
  margin-bottom: 20px;
}

.listing-show-carousel {
  display: flex;
  max-width: 100%;
  justify-content: center;

}

.listing-show-photos {
  display: flex;
  margin-right: 100px;
}

.listing-show-details {
  align-items: center;
}

.listing-show-name {
  margin-top: 10px;
  margin-left: 80px;
  max-width: 300px;
  color: blue;
  font-size: 30px;
  border-bottom: 2px solid #333333;
  margin-bottom: 10px;
}

.listing-show-description {
  margin-left: 80px;
  max-width: 300px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.listing-description-booking {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 180px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.listing-show-details {
  color: gray;
}
