/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import url("https://fonts.googleapis.com/css?family=Lato:400,900");

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   // border: 0;
   // outline: 0;
   font-family: 'Lato', "Lato", Helvetica;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input,
 textarea,
 button {
   border: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

@import 'react-datepicker/datepicker.scss';
@import 'booking.scss';
@import 'errors/errors.scss';
@import 'review.scss';
@import 'create-review.scss';
@import 'edit-review.scss';
@import 'index.scss';
@import 'listing-index-item.scss';
@import 'listing-show.scss';


body {
  color: #333333;
  font-family: "Lato", Helvetica;
}

.login-signup {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  padding: 15px;
  height: 28px;
  color: #333333;
  // border-bottom: 1px solid #ebebeb;

}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
  margin: auto;
  margin-right: 0px;
  height: 18px;
}

.login-signup-button {
  margin: auto;
  margin-right: 0px;
  text-transform: capitalize;
  font-size: 15px;

}

.header-name {
  padding-top: 1px;
  font-family: 'Lato';
}

.header-name-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  vertical-align: middle;
}

.signup-button:hover {
  text-decoration: underline;
  text-decoration-color: grey;
}

.login-button:hover {
  text-decoration: underline;
  text-decoration-color: grey;
}

.login-form label {
  width: 250px;
  text-align: right;
}


.login-form-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.hipcamp-logo {
  text-decoration: none;
  color: rgb(51, 51, 51)
  font-size 20px;
  font-family: "Lato", Helvetica;
  font-weight: 600;
  width: 135px;
  line-height: 22.72px;
  letter-spacing: 3px;
}




.header-button {
  margin: auto;
  margin-right: 0px;
  font-size: 15px;
  color: #333333;
}

.session-welcome-header {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.modal-discover-caption {
  font-size: 12px;
  color: gray;
}

.session-form-input {
  color: black;
  margin-top: 5px;
  border-width: 10px;
  border: 1px solid gray;
  border-style: solid;
  width: 180px;
  height: 40px;
  text-align: left;
  border-radius: 3px;
  padding-left: 5px;
  font-family: "Lato", Helvetica;
  margin-left: 0px;

}

.session-submit {
  text-transform: capitalize;
  border: 1px solid gray;
  font-family: "Lato", Helvetica;
  margin: 10px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: rgb(64, 217, 172);
  color: white;
  width: 100%;
}
.session-options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: underline

}


.session-question {
  margin: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 12px;
}
.session-errors {
  color: red;
}

.session-other {
  border-bottom: 1px solid gray;
}

.session-demo {
  border-bottom: 1px solid gray;
}




.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-input {

}

.login-form-box {
  padding: 40px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px grey;


}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Abel', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.map {
  width: 500px;
  height: 500px;
  margin-right: 70px;
  background-color: blue;
  margin-top: 30px;
}

.listing-index {
  padding-top: 5px;
  font-weight: 600px;
  max-width: 550px;
  border-top: 3px solid #333333;
  line-height: 1.1;
  margin-top: 0;
  margin-left: 90px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.listing-photo {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  font-weight: 400px;
  padding-right: 15px;
}


.search {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;

}
