.check-in-out {
  display: flex;
}

.form-input {
  width: 50px;
}

.check-in-out-label {
  padding-right: 10px;
}

.user-booking-container {
  display: flex;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.booking-listing-name {
  font-size: 18px;
}

.booking-details {
  margin-left: 25px;
}
