.user-booking-first-name {
  font-weight: bold;
  font-size: 18px;
}


.booking-form {
  display: flex;
  flex-direction: column;
}

.please {
  display: flex;
  flex-direction: column;
}

.minusplusguests{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 22px;
  font-weight: normal;
  font-size: 13px;
}

.minus {
  font-weight: bold;
  font-size: 15px;
}

.booking-container-form {
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid rgb(229, 229, 229);
  width: 390px;
  margin-right: 15px;
  box-shadow: 0px 0px 2px rgb(229, 229, 229);
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
}

.user-booking {
  border-bottom: 2px solid rgb(229, 229, 229);
}

.check-in-out {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.check-in-container {
  display: flex;
  flex-direction: column;

}

.check-out-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 50px;
}

.check-in-out-label {
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: bold;

}

.user-booking-header {
  margin-bottom: 40px;
  margin-left: 40px;
}

.user-booking-container {
  display: flex;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}

.booking-listing-name {
  font-size: 18px;
}

.booking-detail-labels {
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Lato", Helvetica;

  li {
    margin-bottom: 10px;
  }
}


.booking-details {
  margin-left: 25px;
  margin-top: 30px;
  font-family: "Lato", Helvetica;

  li {
    margin-bottom: 10px;
  }

}

.guests-label {
  font-weight: bold;
  border-bottom: 1px solid rgb(229, 229, 229);
  border-top: 1px solid rgb(229, 229, 229);
}

.booking-guests {
  display: flex;
  justify-content: space-between;
}



.book-now-button {
  width: 390px;
  border: 1px grey;
  font-family: "Lato", Helvetica;
  margin-top: 10px;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  background-color: #40d9ac;;
  color: white;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 40%;
  text-align: center;
  padding-right: 0px;

}

.user-booking-delete {
  text-transform: capitalize;
  font-family: "Lato", Helvetica;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #40d9ac;
  color: white;
  border: 1px grey;
}

.booking-status{
  font-weight: bold;
}
