.check-in-out {
  display: flex;
}

.form-input {
  width: 50px;
}

.check-in-out-label {
  padding-right: 10px;
}

.user-booking-container {
  display: flex;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.booking-details {
  margin-left: 20px;
}
