.create-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.create-review-listing-name {
  font-size: 26px;
  font-family: "Lato", Helvetica;
  margin-bottom: 10px;
}


.form-submission {
  display: flex;
  flex-direction: column;
}

.create-review-date {
  margin-bottom: 20px;
  font-family: "Lato", Helvetica;
}

.description {
  border: 1px solid rgb(220, 220, 220);
  padding: 10px;
  padding-bottom: 150px;
  margin-bottom: 20px;
  font-family: "Lato", Helvetica;
}
.create-review-submit {
  max-width: 100px;
  padding: 10px;
  border: 1px grey;
  font-size: 15px;
  border-radius: 3px;
  background-color: #40d9ac;
  color: white;
  height: 20px;
}
