.landing-page {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.landing-page-title {
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 15px;
  font-size: 54px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
  font-weight: 600;
}

.landing-page-tagline {
  margin-left: 70px;
  max-width: 300px;
  color: #a1a1a1;
  font-family: Helvetica;

  strong {
    font-weight: bold;
  }
}

.index-to-listings {
  font-size: 25px;
  color: rgb(51, 51, 51)
}

.landing-page-image {
  width: 500px;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.discover-camping {
  margin-left: 450px;
  font-family: Helvetica;
  color: rgb(51, 51, 51);
  margin-bottom: 100px;
}

.first-row-filters {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 25px;
  margin-bottom: 60px;
}

.second-row-filters {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 25px;
}
