.listing-index-photos {
  column-count: 2;
  column-gap: 75px;
  break-inside: avoid;
  margin: 0;
  -webkit-column-break-inside: avoid;
  height: 1000px;
  overflow-y: auto;
}

.listing-index-header {
  font-size: 20px;
  font-weight: bold;
}


.listing-index-li {
  // column-count: 2;
  //  column-gap: 75px;
  //  break-inside: avoid;
  //  margin: 0;
  //  -webkit-column-break-inside: avoid;
  margin-bottom: 30px;
}

.listing-index-photo {
  width: 225px;
  height: 225px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  font-weight: 400px;
}


.listing-index-name {
  margin-top: 13px;
  margin-bottom: 10px;
  font-weight: bold;
}

.listing-index-details {
  font-size: 13px;
}

.reviews-and-cost {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}


.daily-cost {
  margin-right: 100px;
  font-weight: bold;
}
