.listing-show-container {
  margin: 13px;
  margin-bottom: 20px;
}

.listing-show-carousel {
  display: flex;
  width: 100%;

}

.listing-show-photos {
  display: flex;
  width: 100%;
  li {
    width: 33%;
    padding-right: 5px;
    padding-left: 5px;
  }
  img {
    height: 300px;
  }
}

.listing-show-body {
  // justify-content: center;
  // margin-left: 150px;
  margin: 0 auto;
  width: 75%;
}

.listing-show-name {
  margin-top: 10px;
  margin-left: 80px;
  max-width: 450px;
  color: #333333;
  font-size: 36px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-bottom: 10px;
  font-weight: 900;

}

.listing-description-booking {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 180px;
  font-size: 15px;
}

.host-listing-description {
  display: flex;
}

.host-information {
  margin-left: 80px;
  padding-bottom: 10px;
  font-size: 13px;
}

.host-name-label {
  font-weight: bold;
  width: 100px;
}

.listing-show-description {
  margin-left: 50px;
  width: 280px;
  font-size: 13px;
  margin-right: 50px;
  line-height: 20px;
}

.listing-show-details {
  align-items: center;
  margin-bottom: 65px;
  margin-left: 80px;
  margin-right: 180px;
  display: flex;
  width: 450px;
  height: 60px;
}


.listing-show-label {
  margin-right: 80px;
  font-size: 13px;
}


.listing-show-values {
  padding-right: 100px;
  padding-top: 50px;
  margin-left: 25px;
  font-size: 13px;
  width: 150px;

}

.listing-show-address {
  padding-top: 16px;
}

.listing-show-daily-cost {
  padding-top: 8px;
}

.check-in-row {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.check-out-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
}

.new-check-in-after {
  font-weight: bold;
}

.new-val {
}


.listing-review-container {
  display: flex;
  margin-bottom: 15px;
}

.review-label {
  margin-top: 10px;
  margin-left: 80px;
  max-width: 300px;
  font-size: 15px;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-bottom: 10px;
  margin-right: 80px;
}

.add-review-label {
  margin-top: 10px;
  margin-left: 80px;
  max-width: 500px;
  padding: 10px;
  border: 1px grey;
  margin: 10px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #40d9ac;
  color: white;
  height: 20px;
}

.listing-daily-cost {
  font-size: 15px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  strong {
    font-size: 30px;
  }
}

.booking-container-unlogged {
  border: 1px solid rgb(229, 229, 229);
  box-shadow: 0px 0px 2px rgb(229, 229, 229);
  color: rgb(51, 51, 51);
  border-radius: 3px;
  max-height: 100px;
}

.booking-container-logged {
  border: 1px solid rgb(229, 229, 229);
  box-shadow: 0px 0px 2px rgb(229, 229, 229);
  color: rgb(51, 51, 51);
  border-radius: 3px;
  max-height: 150px;
}
