.review-index-item {
  display: flex;
  margin-left: 80px;
  padding-bottom: 20px;
}

.review-item-labels {
  margin-right: 50px;
}


.review-user-name {
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;

}

.review-user-created-date {
  font-family: "Lato", Helvetica;
  font-size: 12px;
  color: rgb(194, 194, 194);
  margin-bottom:10px;
  font-weight: 200px;
}

.review-user-description {
  font-family: "Lato", Helvetica;
  font-size: 14px;
  margin-bottom:10px;
  line-height: 24px;
  font-weight: 200px;
  width: 500px;
  max-width: 500px;
  word-wrap: break-word;
}

.review-item-values {
  border-bottom: 1px solid rgb(229, 229, 229);
  max-width: 500px;
}

.edit-delete-review-opt {
  width: 500px;
  display: flex;
}

// .review-item-values li {
//   margin-bottom: 10px;
// }

.edit-review-link {
  margin-left: 80px;
  max-width: 500px;
  padding: 10px;
  border: 1px grey;
  margin: 10px;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  background-color:  #40d9ac;
  color: white;
  height: 20px;
}

.delete-review-button{

  margin-left: 80px;
  max-width: 500px;
  padding: 10px;
  border: 1px grey;
  margin: 10px;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  background-color:  #40d9ac;
  color: white;
  height: 20px;
}
